<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>MiniSis</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="assets/css/w3.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="assets/css/w3-theme-blue.css" rel="stylesheet" type="text/css"/>
        <script src="assets/js/angular/angular.js" type="text/javascript"></script>
        <script src="assets/js/dist/router.es5.min.js" type="text/javascript"></script>
        <script src="components/minisiss/minisiss.js" type="text/javascript"></script>
        <script src="login.js" type="text/javascript"></script>
    </head>
    <body ng-app="login"   ng-controller="LoginController as loginController">
        <div class="w3-card ">
            <header>
                <nav class="w3-card-4 w3-topnav w3-jumbo  w3-blue ">
                    <a style="color:white">MiniSiss</a>
                </nav>
            </header>
            <section >
                <div class="w3-container w3-paragraph  w3-xlarge" >
                    <p style="color:#5f5f5f">Platform created to facilitate the submission of tasks concerning Information Systems II</p>
                </div>
                
                
                <div class="w3-half " style="padding-left:10px ">

                    <video  class="w3-card-4" width="95%" height="80%" controls loop autoplay muted>
                        <source src="assets/video/What is agile What is scrum An Introduction.mp4" type="video/mp4">
                        Your browser does not support the <code>video</code> tag.
                    </video>
                </div>


                <div class="w3-half">
                    <div class=" w3-card-4 w3-container w3-blue w3-animate-top" >
                        <h2 class="w3-xxlarge">Sign in</h2>
                    </div>

                    <form class="w3-container w3-animate-opacity">
                        <br />
                        <p>
                            <label style="color:#5f5f5f">User name</label>
                            <input  class="w3-input" ng-model="loginController.userName" type="text" placeholder="your username " ></p>

                        <p>
                            <label style="color:#5f5f5f">Password</label>
                            <input class="w3-input" ng-model="loginController.userPassword" type="password" placeholder="your password"></p>

                        <input  class="w3-card-4 w3-btn  w3w3-xlarge-round w3-blue w3-border "
                                type="submit" value="Sign in"  ng-click="loginController.verifyUser()">
                    </form>
                </div>
            </section>
            <hr>
        </div>      
    </body>
</html>
